@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  height: 100px;
  display: grid;
  grid-template-columns: 142px 1fr 40px;
  align-items: center;
}
header .menu {
  display: flex;
  justify-content: center;
}
header .menu ul {
  display: flex;
  gap: 42px;
}
header .menu ul li {
  position: relative;
  display: flex;
  justify-content: center;
}
header .menu ul li:hover .line {
  opacity: 1;
}
header .menu ul li .line {
  height: 1px;
  position: absolute;
  top: 22px;
  background: #000;
  opacity: 0;
  width: calc(100% - 10px);
  margin-right: 4.2px;
}
header .menu ul li a {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  text-decoration: unset;
}
header .burger-menu {
  display: none;
  width: 35px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
header .burger-menu span {
  width: 100%;
  height: 4px;
  background-color: black;
  display: block;
}

main .first-screen {
  position: relative;
  width: 100%;
  height: 600px;
}
main .first-screen .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
main .first-screen h1 {
  color: var(--base-black, #000);
  font-family: Red Hat Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
  padding-top: 100px;
}
main .blog {
  padding-top: 90px;
  padding-bottom: 40px;
}
main .blog h2 {
  color: #000;
  font-family: Red Hat Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.4px;
}
main .blog .article {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 30px;
}
main .blog .article img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}
main .blog .article .info {
  max-width: 450px;
  width: 100%;
}
main .blog .article .info .date {
  margin-bottom: 50px;
}
main .blog .article .info h3 {
  color: #000;
  font-family: Red Hat Display;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.3px;
  margin-top: 30px;
  margin-bottom: 15px;
}
main .blog .article .info p {
  color: #565656;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.8px;
}
main .blog .left {
  justify-items: end;
}
main .latest-posts {
  padding-bottom: 90px;
}
main .latest-posts .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
main .latest-posts .posts .item img {
  margin-bottom: 25px;
  flex-wrap: wrap;
  object-fit: cover;
  width: 100%;
}
main .latest-posts .posts .item h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  color: #000;
  font-family: Red Hat Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.2px;
}
main .latest-posts .posts .item p {
  color: #565656;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.8px;
}
main .latest-posts .posts .item .caption {
  display: flex;
  justify-content: space-between;
}
main .latest-posts .posts .item .caption p {
  color: #7B7B7B;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
}
main .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
main .title h2 {
  color: #000;
  font-family: Red Hat Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
}
main .title .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .title .right p {
  color: #7B7B7B;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
}
main .popular {
  padding-bottom: 90px;
}
main .popular .popular-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-bottom: 50px;
}
main .popular .popular-posts img {
  margin-bottom: 20px;
  flex-wrap: wrap;
  object-fit: cover;
  width: 100%;
}
main .popular .popular-posts h3 {
  margin: 20px 0;
  color: #000;
  font-family: Red Hat Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.4px;
}
main .popular .popular-posts p {
  color: #565656;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.8px;
}
main .popular .popular-posts .caption {
  display: flex;
  justify-content: space-between;
}
main .popular .popular-posts .caption p {
  color: #7B7B7B;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
}
main .popular .btn {
  display: flex;
  justify-content: center;
}
main .popular a {
  text-decoration: unset;
}
main .popular button {
  display: flex;
  width: 180px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #565656;
  text-decoration: unset;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 166%;
  letter-spacing: 1.6px;
  border: none;
}
main .information {
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
}
main .information .headline h3 {
  color: #000;
  font-family: Red Hat Display;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 2.3px;
}
main .information p {
  color: #565656;
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
}

footer {
  background: #F4F4F4;
  height: 100%;
}
footer .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}
footer .footer-wrapper .leftside h2,
footer .footer-wrapper .rightside h2 {
  color: #000;
  font-family: Red Hat Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.4px;
  margin-bottom: 30px;
}
footer .footer-wrapper .leftside p,
footer .footer-wrapper .rightside p {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
}
footer .footer-wrapper .leftside {
  margin-bottom: 25px;
}
footer .footer-wrapper .leftside .email {
  margin-top: 15px;
}
footer .footer-wrapper .rightside ul {
  display: flex;
  align-items: center;
  gap: 23px;
}
footer .footer-wrapper .rightside ul li {
  border: 1px solid #565656;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
footer .footer-wrapper .rightside ul li:hover {
  background-color: #565656;
}
footer .footer-wrapper .rightside ul li:hover a {
  color: white;
}
footer .footer-wrapper .rightside ul li a {
  color: #565656;
  text-decoration: unset;
  font-size: 25px;
}
footer .rights {
  text-align: center;
  padding-bottom: 30px;
}
footer p {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
}

@media (max-width: 1170px) {
  header,
  .blog,
  .latest-posts,
  .popular,
  .information,
  footer {
    padding: 0 34px;
  }
  header .menu {
    gap: 40px;
    align-items: center;
  }
  main .first-screen h1 {
    padding-left: 34px;
  }
  main .latest-posts .posts {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  main .latest-posts .posts .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  main .latest-posts .posts .item img {
    width: 100%;
    height: 250px;
  }
  main .latest-posts .posts .item:nth-child(2) img {
    order: 2;
  }
  main .latest-posts .posts .item:nth-child(2) .wrapper {
    order: 1;
  }
  main .information {
    flex-direction: column;
  }
  main .information .text {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
  }
  footer .footer-wrapper {
    flex-direction: column;
    padding-top: 50px;
  }
  footer .footer-wrapper .leftside {
    margin-bottom: 0;
  }
  footer .footer-wrapper .leftside p {
    text-align: center;
  }
  footer .footer-wrapper .rightside {
    margin: 40px 0;
  }
  footer .footer-wrapper .rights {
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  header,
  .blog,
  .latest-posts,
  .popular,
  .information,
  footer {
    padding: 0 10px;
  }
  header {
    grid-template-columns: 142px 1fr 40px;
    grid-template-areas: "logo search burger" "menu menu menu";
    align-self: center;
  }
  header.active {
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  header .logo {
    grid-area: logo;
  }
  header .menu {
    grid-area: menu;
    display: none;
  }
  header .menu.active {
    display: block;
  }
  header .menu.active a:hover {
    font-weight: 700;
  }
  header .menu.active ul {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  header .menu.active ul li:hover .line {
    opacity: 0;
  }
  header .search {
    grid-area: search;
    justify-self: end;
    margin-right: 20px;
  }
  header .burger-menu {
    grid-area: burger;
    display: flex;
  }
  main .title {
    flex-direction: column;
    align-items: flex-start;
  }
  main .blog h2 {
    text-align: center;
  }
  main .blog .article {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  main .blog .article .info {
    max-width: 100%;
    order: 2;
  }
  main .blog .article .info svg {
    display: none;
  }
  main .latest-posts .posts {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 50px;
  }
  main .latest-posts .posts .item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  main .latest-posts .posts .item img {
    width: 100%;
    height: 250px;
  }
  main .latest-posts .posts .item:nth-child(2) img {
    order: 2;
  }
  main .latest-posts .posts .item:nth-child(2) .wrapper {
    order: 2;
  }
  main .popular .popular-posts {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  main .information {
    flex-direction: column;
  }
  main .information .text {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
  }
}