@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.first-screen {
    background-image: url("img/first-screen-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 8px;
    }

    h3 {
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 6.82px;
        margin-bottom: 48px;
        text-align: center;
    }

    h4 {
        color: #FFF;
        text-align: center;
        font-family: Josefin Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2.8px;
    }

    .search-form {
        display: flex;
        justify-content: space-between;
        background: #FFF;
        width: 647px;
        height: 100%;
        max-height: 60px;
        margin-bottom: 211px;

        a {
            text-decoration: unset;
        }

        input {
            width: 100%;
            padding-left: 36px;
            border: unset;
            color: white;
            border-color: white;
            outline: unset;

            &::placeholder {
                font-size: 14px;
            }
        }

        input[type="text"] {
            font-size: 20px;
        }

        input[type="text"],
        ::placeholder {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2.8px;
            color: #999;
        }
    }

    .scroll {
        display: flex;
        align-items: center;
        flex-direction: column;

        &:hover {
            transform: scale(1.5);
        }

    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 139px;
            height: 52px;
            padding: 16px 24px;
            background: #5373FD;
            border: none;
            margin-right: 5px;
            gap: 10px;

            p {
                color: #FFF;
                font-family: Aleo;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }
        }
    }


}

header {
    background: #5373FD;

    .header-wrapper {
        width: 100%;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: unset;
        }

        h3 {
            color: #FFF;
            font-family: Josefin Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 2.4px;
            text-transform: uppercase;
        }


        nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;

                li {
                    font-family: Aleo;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
                    transition: font-size 0.3s;

                    &:hover {
                        font-size: 18px;
                    }

                    a {
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.why {
    background-image: url("img/why-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;


    .why-wrapper {
        display: flex;
        padding: 124px 0;
        align-items: center;
        justify-content: space-around;
        gap: 135px;

        .text {
            max-width: 648px;
            width: 100%;

            h2 {
                color: #FFF;
                font-family: Aleo;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                text-transform: capitalize;
                margin-bottom: 24px;
            }

            p {
                color: #FFF;
                font-family: Josefin Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: 1.6px;
            }

            button {
                max-width: 213px;
                width: 100%;
                height: 60px;
                background: #5373FD;
                color: #FFF;
                text-align: center;
                font-family: Aleo;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 1.12px;
                text-transform: uppercase;
                border: unset;
                margin-top: 32px;
            }
        }

        .photos {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            .left {
                margin-bottom: 16px;
                margin-right: 75px;
            }

            img {
                width: 100%;
                max-width: 350px;
            }
        }


    }
}

.steps {
    background: #333;
    height: 306px;
    display: flex;
    align-items: center;

    .steps-wrapper {


        .items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            position: relative;


            .line {
                z-index: 0;
                position: absolute;
                top: -40%;
            }

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                background: #333;

                h2 {
                    color: #FFF;
                    text-align: center;
                    font-family: Aleo;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 40px;
                    text-transform: capitalize;
                    margin-top: 20px;
                }
            }
        }
    }


}

.book-first {
    width: 100%;
    background-image: url("img/book-first-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    padding-top: 220px;
    padding-bottom: 120px;

    .content {
        width: 648px;
        height: 344px;
        background: rgba(35, 35, 35, 0.90);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 32px;
        padding-right: 32px;

        span {
            color: #FFF;
            font-family: Josefin Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            letter-spacing: 2px;
        }

        h3 {
            color: #FFF;
            font-family: Josefin Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            text-transform: uppercase;
            margin: 16px 0;
        }

        p {
            color: #FFF;
            font-family: Josefin Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            letter-spacing: 1.6px;
        }

        button {
            width: 213px;
            height: 60px;
            background: #5373FD;
            color: #FFF;
            text-align: center;
            font-family: Aleo;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 1.12px;
            text-transform: uppercase;
            border: unset;
            margin-top: 24px;
        }
    }
}

.book-second {
    width: 100%;
    background-image: url("img/book-second-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    padding-top: 220px;
    padding-bottom: 120px;

    .book-second-wrapper {
        display: flex;
        justify-content: flex-end;

        .content {
            width: 648px;
            height: 344px;
            background: rgba(35, 35, 35, 0.90);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 32px;
            padding-right: 32px;

            span {
                color: #FFF;
                font-family: Josefin Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: 2px;
            }

            h3 {
                color: #FFF;
                font-family: Josefin Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                text-transform: uppercase;
                margin: 16px 0;
            }

            p {
                color: #FFF;
                font-family: Josefin Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: 1.6px;
            }

            button {
                width: 213px;
                height: 60px;
                background: #5373FD;
                color: #FFF;
                text-align: center;
                font-family: Aleo;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 1.12px;
                text-transform: uppercase;
                border: unset;
                margin-top: 24px;
            }
        }
    }


}

.tourist {
    background-image: url("img/tourist-bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    .tourist-wrapper {
        width: 100%;
        height: 680px;

        h2 {
            color: #FFF;
            text-align: center;
            font-family: Aleo;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            text-transform: capitalize;
            padding-top: 120px;
            padding-bottom: 60px;
        }

        .content {
            display: flex;

            img {
                object-fit: cover;
            }

            .text {
                background: #333;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 48px 60px;

                svg {
                    margin-right: 10px;
                }

                h4 {
                    color: #FFF;
                    font-family: Josefin Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    text-transform: uppercase;
                    margin-bottom: 16px;
                }

                p {
                    color: #FFF;
                    font-family: Josefin Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 28px;
                    letter-spacing: 1.6px;
                }
            }
        }

    }

}

footer {
    width: 100%;
    height: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;

    nav {
        ul {
            display: flex;
            justify-content: center;
            gap: 32px;
            margin-top: 20px;


            li {
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: white;

                    &:hover {
                        color: #5373FD;
                    }
                }

            }
        }
    }

    h3 {
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 2.4px;
        text-transform: uppercase;
    }

    p {
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2.8px;
    }
}

@media (max-width: 1330px) {

    section,
    header {
        padding: 0 10px;
    }
}

@media (max-width: 1170px) {
    .line {
        display: none;
    }

    .first-screen {

        .scroll {
            transform: scale(1.5);

        }
    }

    header {
        .header-wrapper {
            nav {
                ul {
                    gap: 20px;

                    li {
                        &:hover {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .why {
        .why-wrapper {
            padding-top: 100px;
            padding-bottom: 100px;
            gap: 10px;

            .photos {
                .left {
                    margin-right: 0;
                }
            }
        }
    }

    .tourist {
        .tourist-wrapper {
            h2 {
                padding-top: 60px;
                padding-bottom: 20px;
            }

            .content {
                flex-direction: column;
                align-items: center;
                gap: 30px;

                .text {
                    max-height: 230px;
                }
            }
        }
    }

}

@media (max-width: 768px) {

    .first-screen {
        input {
            margin-left: 0px;
            margin-top: 20px;
            height: 100%;
        }

        .search-form {
            margin-bottom: 300px;
            width: 280px;
            height: 60px;
            flex-direction: column;
            gap: 70px;

            input {
                padding-left: 2px;
            }
        }

        .scroll {
            transform: scale(2);

        }
    }

    header {
        .header-wrapper {
            height: 150px;

            nav {
                ul {
                    gap: 15px;
                    flex-direction: column;
                    align-items: flex-end;

                    li {
                        font-size: 13px;
                    }
                }
            }

        }
    }

    .why {
        .why-wrapper {
            flex-direction: column;
            padding-top: 50px;
            padding-bottom: 50px;
            gap: 30px;
            align-items: flex-start;
        }
    }

    .steps {
        height: 500px;

        .steps-wrapper {
            .items {
                grid-template-columns: repeat(1, 1fr);
                gap: 50px;

                .item {
                    h2 {
                        margin-top: 5px;
                    }
                }

                .line {
                    display: none;
                }

            }
        }

    }

    .book-first {
        .content {
            height: 100%;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .book-second {
        .book-second-wrapper {
            .content {
                height: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .book-first,
    .book-second {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .tourist {
        height: 850px;

        .tourist-wrapper {
            h2 {
                padding-top: 40px;
                padding-bottom: 20px;
            }

            .content {
                flex-direction: column;
                align-items: center;
                gap: 50px;

                .text {
                    padding: 15px;
                    max-height: 450px;
                }

                img {
                    width: 100%;
                    max-width: 440px;
                }

            }
        }
    }

    footer {
        height: 200px;
    }
}