.trending {
    padding: 100px 0;

    h1 {
        color: #FFF;
        font-family: Manrope;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 20px;
    }
}