@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Farro:wght@300&family=Francois+One&family=Open+Sans&family=PT+Sans&family=Roboto:wght@900&family=Staatliches&family=Tourney:wght@600&display=swap');

body {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid #828282;
}

header nav {
    width: 496px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    color: #828282;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #070707;
}

/*Section Main*/
.main h1 {
    color: #070707;
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 12px;
}

.main img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*Section About*/
.about {
    padding: 100px 0;
    background-color: #F6F6F6;
}

.about h2 {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.about p {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}


/*Section Skills*/
.skills {
    padding: 100px 0;
}

.skills h2 {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skills p {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 50px 0;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img {
    width: 100%;
    max-width: 170px;
    height: auto;
    object-fit: cover;
}

/*Section Portfolio*/
.portfolio {
    background-color: #F6F6F6;
    padding: 100px 0;
}

.portfolio h2 {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.portfolio p {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 40px;
}

.portfolio img {
    width: 100%;
    max-width: 970px;
    margin-top: 70px;
    height: auto;
    object-fit: cover;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

footer h2 {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

footer p {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
    max-width: 280px;
    width: 100%;
}

footer button {
    border-radius: 22px;
    background: #070707;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 30px;
    width: 180px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    color: #828282;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 200px;
    width: 100%;
}

footer ul {
    display: grid;
    margin-bottom: 60px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

@media (max-width: 768px) {
    body {
        padding: 0 15px;
    }

    header {
        height: auto;
        justify-content: flex-start
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
    }

    header nav li:nth-child(1) {
        padding-top: 20px;
    }

    header nav li:nth-child(5) {
        padding-bottom: 20px;
    }

    .skills .items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        row-gap: 50px;
        column-gap: 10px;
    }

    footer ul {
        column-gap: 20px;
    }
}